@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
body {
    background: #333;
    color: #fff;
}
.sayHi {
    position: relative;
    width: 100%;
    height: fit-content;
    background: linear-gradient(45deg, #fe256d, #ffc107);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.sayHi div {
    animation: animate1 30s linear infinite;
    animation-delay: -10s;
}
@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
section .calendar {
    position: relative;
    top: 10%;
    border: 5px solid #17D4FE;
    filter: drop-shadow(0 0 20px #17D4FE) drop-shadow(0 0 40px #17D4FE);
    width: 300px;
    height: 350px;
    margin-bottom: 50px;
}
section .calendar .thu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 45px;
    font-weight: 700;
}
section .calendar .date {
    display: flex;
}
section .calendar .date .month {
    float: left;
    margin-left: 5%;
    font-size: 25px;
    font-weight: 400;
}
section .calendar .date .year {
    position: absolute;
    right: 5%;
    float: right;
    font-size: 25px;
    font-weight: 400;
}
section .calendar .day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    font-weight: 500;
}
section .enterGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 500px;
    font-size: 18px;
}
section .enterGroup input {
    font-size: 15px;
    padding: 0 5px;
    border: none;
}
section .err {
    color: #ff2b2b;
    text-align: center;
}
section .btn-print,
section .btn-reset {
    width: 100px;
    height: 40px;
    padding: 7px 0;
    margin: 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    background: #e7a5ff;
}
/* section .btn-print:hover ,
section .btn-reset:hover {
    transform: scale(1.07);
} */
section .btn-print:hover {
    background: #2bff55;
    color: #fff;
    /* filter: drop-shadow(0 0 10px #2bff55) drop-shadow(0 0 30px #2bff55); */
    transform: scale(1.07);
}
section .btn-reset:hover {
    background: #f1ff2b;
    color: #fff;
    /* filter: drop-shadow(0 0 10px #f1ff2b) drop-shadow(0 0 30px #f1ff2b); */
    transform: scale(1.07);
}