@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul li {
    list-style: none;
    text-align: center;
    color: #333;
    font-size: 2.5em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 20px;
    border-radius: 10px;
}
ul:hover li {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
ul li:hover {
    color: #333;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgb(150, 49, 49);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18vw;
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0px #000;
    letter-spacing: 100px;
}
ul li:hover::before {
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}
ul li:nth-child(1)::before {
    background: url(Vietnam.png);
    background-size: cover;
    background-position: center;
}
ul li:nth-child(2)::before {
    background: linear-gradient(#ff3333 0%, #ff3333 18%, #fff 18%,
                                #fff 36%, #073488 36%, #073488 64%,
                                #fff 64%, #fff 82%, #ff3333 82%, #ff3333 100%);
}
ul li:nth-child(3)::before {
    background: url(South_Korea.svg);
    background-size: cover;
    background-position: center;
}